.link {
   float: left;
   display: block;
   padding: 6px 14px;
   text-decoration: none;
   font-size: 12px;
   line-height: 13px;
   border-bottom: 3px solid transparent;
   text-transform: uppercase;
}

.link:hover {
   color: whitesmoke;
   border-bottom: 3px solid white;
}
.link.active {
   color: "#D9A946";
   border-bottom: 3px solid white;
}
